<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/wallet">4팀</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/">Main</a></li>
                        <li><a class="dropdown-item active" href="/wallet">Wallet</a></li>
                        <li><a class="dropdown-item" href="/explorer">Explorer</a></li>
                    </ul>
            </div>
        </div>
    </nav>
    <nav style="padding-top:5%;">
        <div class="card text-center"  style="width: 50%;left:25%;">
          <div class="card-header">
            Network 번호 (<span id="account"></span>)
          </div>
          <div class="card-body">
            <div class="card-title"><img width="20%" height="20%" src="https://styles.redditmedia.com/t5_3gtgj/styles/communityIcon_u0nji772i7f51.jpg?width=256&format=pjpg&s=ea3b19bab235d3ce68d6481d16c3e31311c0d1e5"></div>
            <h5 class="card-title"><span id="total_balance"></span> BDOT</h5>
            <p class="card-text"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              보내기
            </button></p>
              <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">보내기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">(보낼)계좌 정보</label>
                        <input type="text" class="form-control" id="recipient_account" value="0xf49Adfe551dC0631f99bE86bFFfD6ce3540F92Aa">
                      </div>
                        <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">금액(BDOT)</label>
                        <input type="text" class="form-control" id="recipient_price" placeholder="0">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="send()">Send</button>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">자산</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">활동</button>
              </li>
            </ul>
            <div class="tab-content  nav-justified" id="pills-tabContent" style="justify-content: center;">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table">
                    <tr>
                        <th>번호</th>
                        <th>자산(BDOT)</th>
                    </tr>
                    <tr style='font-size:5px'>
                        <td>1</td>
                        <td id="total_balance2"></td>
                    </tr>
                </table>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <table class="table" id="transactions">

                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </nav>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
    var account = JSON.parse(sessionStorage.getItem("accounts"))[0];
    var account_num = document.getElementById("account");
    var total_balance = document.getElementById("total_balance");
    var total_balance2 = document.getElementById("total_balance2");
    var transactions = document.getElementById("transactions");
    var transaction_html = "<tr><th>번호</th><th>트랜잭션</th></tr>";
    transactions.innerHTML = transaction_html;
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    var raw = JSON.stringify({
      "account": account["account"]
    });

    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    fetch("http://localhost:5000/wallet/account", requestOptions)
      .then(response => response.text())
      .then(result => {
          result = JSON.parse(result);
          account_num.textContent = result['account']['account'].slice(0,7)+"..."+result['account']['account'].slice(result['account']['account'].length-5,result['account']['account'].length);
          total_balance.textContent = result['account']['balance'];
          total_balance2.textContent = result['account']['balance'];
      })
      .catch(error => console.log('error', error));

    var raw = JSON.stringify({
      "account": account["account"]
    });

    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    fetch("http://localhost:5000/wallet/transactions", requestOptions)
      .then(response => response.text())
      .then(result => {
          result = JSON.parse(result)['receiveTransactions'].slice(0,3);
          console.log(result);
          for (var i=0;i<result.length;i++){
            transaction_html += "<tr style='font-size:5px'><th>"+result[i].blockNumber+"</th><th>"+result[i].hash.toString().slice(0,7)+"..."+"</th></tr>";
            transactions.innerHTML = transaction_html;
          }
      })
      .catch(error => console.log('error', error));

    const send = () => {
        var recipient_account = document.getElementById("recipient_account");
        var recipient_price = document.getElementById("recipient_price");
        var raw = JSON.stringify({
          "addressFrom": account["account"],
          "addressTo": recipient_account.value,
          "amount": recipient_price.value
        });
        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("http://localhost:5000/transactions", requestOptions)
          .then(response => response.text())
          .then(result => {
              location.href="/wallet";
          })
          .catch(error => console.log('error', error));
    }
</script>
</html>
